<div class="form-container">
  <div class="form-content">
    <h1>Login </h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-element">
        <label>
          Username:
          <input type="text" formControlName="username" />
        </label>
      </div>
      <div class="input-element">
        <label>
          Password:
          <input type="text" formControlName="password" />
        </label>
      </div>
      <input type="submit" value="Submit" />
    </form>
  </div>
</div>