<p>login works!</p>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label>
    Username:
    <input type="text" formControlName="username" />
  </label>

  <label>
    Password:
    <input type="text" formControlName="password" />
  </label>

  <button type="submit">Submit</button>
</form>

<div *ngIf="!authenticationService.isAuthenticated">
  <p>Currently not logged in</p>
</div>

<div *ngIf="authenticationService.isAuthenticated">
  <p>Hello, {{authenticationService.user.username }}</p>
  <p>Your role is {{authenticationService.user.role }}</p>
</div>